<div class="res-contatiner">
<!--  <form [formGroup]="iform" >-->
    <app-image-cropper (nextPage)="goNextPage()" [formControl]="croppedImageData"></app-image-cropper>
<!--  </form>-->
    <mat-progress-bar class="progress-bar1"mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>
    <div class="radio-button-group1" *ngIf="!!croppedData">
      <mat-radio-group aria-label="Select an option" [ngModel]="radioValue">
        <mat-radio-button value="03">동물</mat-radio-button>
        <mat-radio-button value="05">식물</mat-radio-button>
      </mat-radio-group>
      <span class="request-button">
        <button class="mat-raised-button2" mat-raised-button (click)="save()">검색시작</button>
     </span>
    </div>
  <div *ngIf="!croppedData" class="background-image"></div>

</div>

