<div style="display: flex; position: relative;top:5px">
  <h5 style="position: relative; top:5px;margin-right: 10px">File Upload</h5>
  <button type="button"  mat-mini-fab color="primary" (click)="imgFileInput.click()">
    <i class="fa fa-file-image-o fa-1x" aria-hidden="true"></i></button>
</div>
<input hidden type="file" #imgFileInput (change)="onFileSelected($event)"/>
<div  class="fullWidth">
  <img  id="myimg"  src="" alt="">
  <mat-progress-bar mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>
</div>
<div>
<div class="cropper-image">
  <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="url" *ngIf="url"></angular-cropper>
</div>
<div style="position:relative;top: 5px" *ngIf="!!angularCropper">
<button mat-raised-button color="primary" (click)="zoom(true)"><i class="fa fa-search-plus fa-lg"></i></button>
<button mat-stroked-button color="primary" (click)="zoom(false)"><i class="fa fa-search-minus fa-lg"></i></button>
<!--<button mat-stroked-button color="warn" (click)="save()"><i class="fa fa-crop fa-lg"></i></button>-->
<button mat-stroked-button color="primary" (click)="rotate()"><i class="fa fa-rotate-left fa-lg"></i></button>
<button mat-stroked-button color="primary" (click)="rotateright()"><i class="fa fa-rotate-right fa-lg"></i></button>
<button mat-stroked-button color="primary" (click)="scaleX()"><i class="fa fa-picture-o fa-flip-horizontal fa-lg"></i></button>
<button mat-stroked-button color="primary" (click)=" scaleY()"><i class="fa fa-picture-o fa-flip-vertical fa-lg"></i></button>
<button mat-stroked-button  color="accent" (click)="destroy()"><i class="fa fa-window-close  fa-lg"></i></button>
</div>
<div class="radio-button-group1" *ngIf="!!angularCropper">
  <mat-radio-group aria-label="Select an option" [ngModel]="radioValue">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
    <mat-radio-button value="3">Option 3</mat-radio-button>
  </mat-radio-group>
  <span class="request-button">
    <button class="mat-raised-button2" mat-raised-button (click)="save()">Request</button>
  </span>
</div>
