.mat-radio-button {
  position: relative;
  margin-right: 10px;
  margin-top: 25px
}
.request-button {
  position: relative;
  margin-left: 20px;
  bottom: 5px;
}
.mat-fab {
  position: relative;
  top: 0px;
  left: 45%;
  z-index: 100;
  background-color: green;
}
.button-group1 {
  position:relative;
  top: -20px;
  display: flex;
  justify-content: space-between;

}
.radio-button-group1 {
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;

}
.mat-raised-button2 {
  position: relative;
  top: 25px;
  background-color: green;
  color: white;
}
.cropper-image {
  position: relative;
  top:-30px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-image: url("../../assets/images/t3q4.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
