.mat-radio-button {
  position: relative;
  margin-right: 10px;
  margin-top: 5px
}
.request-button {
  position: relative;
  margin-left: 20px;
  bottom: 5px;
}
.mat-fab1 {
  position: relative;
  z-index: 100;
}
.radio-button-group1 {
  top: -20px;
  position: relative;
}
.mat-raised-button2 {
  background-color: green;
  color: white;
}
.cropper-image {
  position: relative;
  top:-40px;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-image: url("../../assets/images/t3q2.png");
  background-size: contain;
  background-repeat: no-repeat;

}
