.mat-toolbar1 {
  background-image: url("../assets/images/t3q1.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.container {
  padding: 3px;
}
.mat-tab1 {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
