<div class="container" >
  <mat-toolbar >
    <mat-toolbar-row class="mat-toolbar1">
    </mat-toolbar-row>
  </mat-toolbar>

<!--
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="/req-sample_data"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"><span class="mat-tab1">검색요청</span>
    </a>
    <a mat-tab-link
       routerLink="/res-sample_data"
       routerLinkActive #rla1="routerLinkActive"
       [active]="rla1.isActive"><span class="mat-tab1">검색결과</span>
    </a>
  </nav>
-->
  <router-outlet></router-outlet>
</div>
