<div class="fab2">
  <button mat-mini-fab color="primary" (click)="goHome()"><i class="fa fa-home fa-1x" aria-hidden="true"></i></button>
</div>
<div class="request-image">
  <div class="card" style="height: 130px">
     <img class="card-img" [src]="image" (click)="dispOriginalImage()">
  </div>
</div>
<div class="respone-image">
  <cdk-virtual-scroll-viewport [itemSize]="50" minBufferPx="200" maxBufferPx="400">
  <mat-grid-list cols="4" rowHeight="1:1" >
    <mat-grid-tile *cdkVirtualFor="let img of statesObservable | async;let i = index" (click)="dispImgDetail(img)">
      <img [src]="img.small">
      <div *ngIf="img.text">
        {{img.text}}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  </cdk-virtual-scroll-viewport>
</div>
